# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

/src/__pycache__/


# Docs
docs/

# Dotenv file
.env
.DS_

/tests/simulations/__pycache__
/tests/__pycache__