[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/ethr-did-registry"]
	path = lib/ethr-did-registry
	url = https://github.com/uport-project/ethr-did-registry
